.container {
    margin: 0;
    padding: 0;
    height: auto;
    width: 1000px;
    background-color: aliceblue;
}

.done {
    background: aliceblue;
    margin:10px;
}
.delete {
    background: rgb(255, 110, 110);
    margin: 10px
}

